/**
* * CCH2 Custom Styles
* * Version: 1.0 February 2022
* * Author: Laura Rocha Prado
* * Author URI: http://laura.rochaprado.com
* * License: GNU General Public License v2 or later
* * License URI: http://www.gnu.org/licenses/gpl-2.0.html 
*/

/* Base theme
   ========================================================================== */
body {
  background-color: #fafafa;
  /* font-family: ; */
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  font-weight: 400;
}

#innertext {
  margin: 0 auto 4rem;
  max-width: 42rem;
}
