/**
* * CCH2 Custom Styles
* * Version: 1.0 February 2022
* * Author: Laura Rocha Prado
* * Author URI: http://laura.rochaprado.com
* * License: GNU General Public License v2 or later
* * License URI: http://www.gnu.org/licenses/gpl-2.0.html 
*/

/* Fonts
  ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700');

/* Variables
   ========================================================================== */
:root {
  --header-bg-color: #5a5a53;
  --header-font-color: #fff;
  --brand-font-size: 1.3em;
  --title-font-family: 'Averia Serif Libre', serif;
  --logo-width: 120px;
  --body-text-color: #828277;
  --body-font-size: 1em;
  --body-font-family: 'Roboto', sans-serif;
  --heading-font-family: 'Roboto', sans-serif;
  --darkest-color: #000;
  --medium-color: #5a5a53;
  --light-color: #e3f8d0;
  --bright-color: #f86201;
}

/* Base theme
   ========================================================================== */
body {
  background-color: #fff;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--body-font-family);
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
}

/* medium-large screens only */
@media screen and (min-width: 64em) {
  #innertext {
    margin: 0 auto 4rem;
    /* max-width: 42rem; */
  }
}

/* Utilities
   ========================================================================== */
.text-huge {
  font-size: 4rem;
  font-family: var(--title-font-family);
  margin: 0;
}

.text-big {
  font-size: 2em;
}

/* huge screens only */
@media screen and (min-width: 120em) {
  .text-huge {
    font-size: 5rem;
    font-family: var(--title-font-family);
    margin: 0;
  }

  .text-big {
    font-size: 2.5em;
  }
}

/* Components 
   ========================================================================== */
.button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--bright-color);
  color: #000;
}

.button > a {
  transition: all 0.2s ease-in-out;
}

.button:hover > a {
  text-decoration: none;
  color: #000;
}

/* Header
   ========================================================================== */
.header__wrapper {
  padding: 20px;
  background-color: var(--header-bg-color);
}

header {
  display: grid;
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
}

#top-brand {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  align-items: stretch;
}

#top-brand > img {
  width: var(--logo-width);
  max-width: 100%;
  height: auto;
  object-fit: contain; /* scale image keeping proportions */
}

#top-brand .brand-name {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.brand-name h1,
.brand-name h2 {
  text-transform: uppercase;
  color: var(--header-font-color);
  margin: 0;
  letter-spacing: 0.05em;
}

.brand-name h1 {
  font-size: var(--brand-font-size);
}

.brand-name h2 {
  font-size: calc(var(--brand-font-size) * 0.9);
}

header a {
  color: var(--header-font-color);
  text-decoration: none;
  font-weight: 500;
}

header a:hover {
  color: var(--bright-color);
  text-decoration: none;
}

#top-menu ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

#top-menu > ul > li {
  padding-bottom: 1rem;
}

/* small desktop screens */
@media screen and (max-width: 1444px) {
  .brand-name h1 {
    font-size: 1em;
  }

  .brand-name h2 {
    font-size: 0.8em;
  }
}

/* medium-large desktop screens */
@media screen and (min-width: 1024px) {
  .header__wrapper {
    padding: 30px;
  }

  header {
    grid-template-columns: 1fr 3fr;
  }

  #top-brand {
    grid-column: 1;
  }

  #top-login {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  #top-login > span {
    margin-left: 1.5rem;
  }

  #top-menu {
    display: initial;
    align-self: end;
  }

  #top-menu > ul {
    /* turn list into horizontal menu */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #top-menu > ul > li {
    margin-left: 1.5rem;
    padding-bottom: 0;
  }
}

/* huge screens only */
@media screen and (min-width: 1600px) {
  #top-menu > ul > li {
    margin-left: 3rem;
    padding-bottom: 0;
  }
}

/* Innertext    ========================================================================== */
#innertext {
  /* max-width: 66em; */
  padding-top: 0;
  margin: 0 auto;
  /* grid-template-columns: 1fr repeat(6, minmax(auto, 11em)) 1fr; */
  background-color: #fff;
}

/* Home    ========================================================================== */
#home-hero {
  background: url(../images/layout/bg-hero-home-overlay.jpg) no-repeat center
    center;
  background-size: cover;
  height: 562px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#home-hero h1 {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  max-width: 12em;
  grid-column: 3/11;
  margin-top: 6rem;
}

#home-hero .text-big {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home-hero div:first-of-type {
  grid-column: 4/6;
}

#home-hero div:nth-of-type(2) {
  grid-column: 8/10;
}

#home-hero > div.button {
  grid-column: 6/8;
  height: 3rem;
  text-align: center;
  background-color: var(--bright-color);
  margin: 2rem 0;
  padding: 1rem 1rem 0 1rem;
}

#home-hero > div.button > a {
  text-decoration: none;
  color: #fff;
}

/* Footer
   ========================================================================== */
footer {
  text-align: center;
  background-color: #fff;
  padding: 2rem 0;
}

footer p {
  font-size: 0.8em;
  margin: 2px;
}

footer p:first-of-type {
  margin-top: 4em;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 77em;
}
