/**
* * CCH2 Custom Styles: Home Page
* * Version: 1.0 February 2022
* * Author: Laura Rocha Prado
* * Author URI: http://laura.rochaprado.com
* * License: GNU General Public License v2 or later
* * License URI: http://www.gnu.org/licenses/gpl-2.0.html 
*/

/* Home    ========================================================================== */

#home #innertext {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

#home #innertext p {
  line-height: 1.5;
}

#home-hero {
  background: url(../../images/layout/bg-hero-home-overlay.jpg) no-repeat center
    center;
  background-size: cover;
  height: 562px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

#home-hero h1 {
  margin: 0 auto;
  max-width: 12em;
  padding-top: 8rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  font-family: var(--title-font-family);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home-hero article {
  display: grid;
  max-width: 42em;
  margin: 0 auto;
  padding-bottom: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

#home-hero .button--secondary {
  height: 3rem;
  max-width: fit-content;
  margin: 0 auto;
  padding: 1rem;
}

#home-hero .button--secondary > a {
  text-decoration: none;
  color: #fff;
}

/* small screens */
@media screen and (max-width: 768px) {
  #home-hero h1 {
    font-size: 2.3rem;
  }

  #home-hero .text-big {
    font-size: 1.3rem;
  }
}

/* Text section */
#home section:nth-of-type(2) {
  max-width: 60em;
  margin: 0 auto;
  padding: 2rem 0.5em;
  gap: 2rem;
}

#home section:nth-of-type(2) h2 {
  color: var(--bright-color);
}

/* medium and large screens */
@media screen and (min-width: 60em) {
  #home section:nth-of-type(2) {
    padding: 4rem 0;
  }
}

#home-tools .grid-3 {
  gap: 2rem;
  align-items: center;
  text-align: center;
}

#home-tools img {
  max-width: 100%;
  width: 60px;
  height: auto;
}

#home-tools a,
#home-specimens a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

#home-tools a:hover,
#home-specimens a:hover {
  color: var(--bright-color);
}

#home-tools .text-md {
  margin-top: 1rem;
}

/* Specimens section */
#home-specimens {
  background-color: var(--light-color);
  padding: 2rem 0;
}

#home-specimens h2,
#home-specimens > p {
  text-align: center;
}

#home-specimens-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 4rem;
  max-width: 64em;
  margin: 0 auto;
  padding: 2rem 0.5rem 0 0.5rem;
}

#home-specimens img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#home-specimens h4 {
  font-weight: normal;
}
